.holder{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.search{
    display: flex;
    justify-content: center;
    margin-top:50px;
    color: black;
}
.search input{
    height: 30px;
    width: 300px;
    border:1px solid black;
    padding-left: 20px;
}
.search input:focus{
    outline-width: 0;
}
.search button{
    border: none;
    background: black;
    color: white;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5%;
}
.input-container{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.movie-input{
    height: 30px;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    background-color: black;
    color: #75c74e;
}
.select{
    margin: 50px;
    padding: 30px;
    height: auto;
    width: 225px;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    box-shadow: 13px 10px 5px 0px grey;
    cursor: pointer;
}

.title{
    text-align: center;
}

.tags{

    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    color: white;
    background-color: black;
    border: 2px solid #75c74e;
    border-radius: 50px;
    margin: 25px 0px 0px 5px;
}
.tags:hover{
    color: rgb(240, 99, 165);
    border: 2px solid rgb(240, 99, 165);
}
.rating{
display: inline;
color: #75c74e;
}
.rating-n{
    display: inline;
    color: yellow;
}
.duration{
    display: inline-flex;
    margin-left: 30px;
    color: #75c74e;
}
.rate{
    display: flex;
}
.time{
    margin-left: 27%;
}
.top-rated{
    color: white;
}
.whole{
    display: inline-flex;
    flex-direction: row;
    width: calc(100% / 3);
}
.select1{
    margin: 30px;
    padding: 30px;
    height: 480px;
    width: 355px;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    box-shadow: 11px 11px 7px -3px grey;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.select1 img{
    height: 186px;
}
.genre{
    font-size: 40px;
    font-weight: 900;
    margin:50px;
}
.overview{

    font-size: x-large;
    font-weight: 600;
    margin-top:30px;
    line-height: 3;
}
.heading{
    line-height: 30px;
    display: block;
    font-size: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.loader {
    border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   width: 90px;
   height: 90px;
   margin: 100px 0px 0px 45%;
   animation: spin 1s linear infinite;
}

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }.page{
    text-align: center;
    height: 21px;
    width: 300px;
    background-color: red;
    align-content: center;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 22px;
    margin-left: 41%;
 }
 .no{
     margin-left: 0px;
     display: inline;
 }.no button{
width: 30px; 
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pagination button{
    height: 20px;
    width: 30px;
}