<app-header></app-header>
<div class="heading">
    <span>Watched Movies</span>
</div>
<div *ngFor="let movies of array" class="watch-main">
    <div (click)="onClick(movies.id)" class="holder" *ngIf="movies">
        
        <div class="pic">
            <img [src]="'https://image.tmdb.org/t/p/w300/'+movies.backdrop_path" alt="picture">
        </div>
<div class="title">
    <span>{{movies.title}}</span>
</div>
<div class="rate-holder">
    <span class="rating">Rating:&nbsp;{{movies.vote_average}}</span>
    <span class="rating">{{(movies.runtime/60).toFixed(2)}}hrs</span>
</div>
<div>
    <button *ngFor="let tags of movies.genres" class="tags">{{tags.name}}</button>
</div>
    </div>
</div>