.heading {
  margin-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;

  display: flex;
  justify-content: center;
}
.admin {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
}
.admin table {
  /* background-color: blue; */
  width: 1100px;
  border: none;
}
.admin thead {
  background-color: blue;
  color: white;
  border: none;
}
.name {
  height: 30px;
  width: 150px;
}
.mail {
  width: 250px;
}
.created {
  width: 200px;
}
.updated {
  width: 200px;
}
.deleted {
  width: 200px;
}
.deleter {
  width: 100px;
}
.page {
  text-align: center;
  margin-top: 50px;
}
.pg_no {
  height: 30px;
  width: 30px;
  border: 1px solid darkblue;
  border-radius: 0px;
  display: inline;
  margin-right: 1px;
  background-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
.pg_input {
  text-align: center;
  margin-top: 50px;
}
.pg_input input {
  width: 20px;
  text-align: center;
}
.img {
  height: 15px;
  width: 13px;
}
.top {
  display: flex;
  flex-direction: column;
}
.tick {
  background: none;
  border: none;
}
.tick img {
  width: 12px;
  height: 12px;
}
.tick :hover {
  width: 20px;
  height: 20px;
}
.cross {
  background: none;
  border: none;
}
.cross img {
  width: 15px;
  height: 15px;
}
.cross :hover {
  width: 25px;
  height: 25px;
}
.delete {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
}
.delete img {
  height: 20px;
  height: 20px;
}
.delete img:hover {
  height: 22px;
  width: 25px;
  color: blue;
  fill: blue;
}
.edit {
  background: none;
  border: none;
  outline-width: 0;
}
.edit_icon {
  height: 20px;
  width: 20px;
}
.excel {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 130px;
}

.edit_icon:hover {
  color: blue;
}
.modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  background-color: white;
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
}

.modal input {
  height: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.modal button {
  width: 100px;
  height: 30px;
  background-color: royalblue;
  color: black;
  border: none;
}
.file_input {
  background-color: white;
  color: black;
  border: 1px solid black;
  /* padding: 20px; */
  padding-top:45% ;
  text-align: center;
  height: 250px;
  width: 250px;
  box-sizing: border-box;
}
.modal button:hover {
  background-color: rgb(27, 27, 184);
}
.excel_btn {
  background-color: green;
  color: white;
  font-weight: bolder;
}
.pdf_btn {
  background-color: rgb(196, 92, 92);
  color: rgb(221, 218, 218);
  font-weight: bolder;
}
.temp_div {
  margin: 50px 25%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.temp_btn {
  display: flex;
  justify-content: center;
}
.temp_table thead {
  height: 30px;
  width: 700px;
  background-color: blue;
  color: white;
}
.temp_table th {
  width: 350px;
  height: 30px;
  text-align: center;
}
