.heading{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

    display: flex;
    justify-content: center;
}
.admin {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
}
.admin table{
    /* background-color: blue; */
    width: 1000px;
    border: none;
}
.admin thead{
    background-color: blue;
    color: white;
    border: none;
}
.name{
    height: 30px;
    width: 150px;
}
.mail{
    width: 250px;
}
.created{
    width: 200px;
}
.updated{
    width: 200px;
}
.deleted{
    width: 200px;
}
/* .delete{
    width: 200px;
} */
.page{
    text-align: center;
    margin-top: 50px;
    }
    .pg_no{
      height: 30px;
      width: 30px;
      border:1px solid darkblue;
      border-radius:0px ;
      display: inline;
      margin-right: 1px; 
      background-color: blue;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: bold;
    }
    .pg_input{
    text-align: center;
    margin-top: 50px;
    }
    .pg_input input{
      width: 20px;
      text-align: center;
    }
    .img{
      height: 15px;
      width: 13px;
    }