.header {
  background-color: #75c74e;
  position: fixed;
  height: 50px;
  width: 100%;
  margin-top: 0;
}
.info {
  margin: 20px;
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 30px;
  height: auto;
}
.pic {
  background-color: black;
  width: auto;
  height: 100%;
}
.details {
  margin-left: 5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}
.line {
  color: white;
  /* font-weight: bold; */
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(185, 181, 181);
}
.name {
  line-height: 50px;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
  color: white;
}
.trailer {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
.trailer:hover {
  opacity: 0.5;
}

.get {
  display: flex;
  margin: 20px;
}
.rating {
  color: #75c74e;
}
.time {
  color: #75c74e;
  margin-left: 50px;
}
.watchlist {
  height: 35px;
  border: none;
  border-radius: 50px;
  background: transparent;
  outline-width: 0;
  margin-right: 20px;
}
.watchlist:hover {
  background-color: #75c74e;
  color: black;
}
.material-icons {
  color: white;
}
/* .material-icons:hover{
    color: black;
} */
.tag {
  display: inline-flex;
  flex-direction: row;
}
.tags {
  display: inline;

  outline-width: 0;
}
.over {
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}
.view {
  margin-top: 20px;
  font-family: sans-serif;
  color: white;
  display: flex;
  text-align: justify;
  line-height: 20px;
  font-size: medium;
}
.tags {
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
  color: white;
  background-color: black;
  border: 2px solid #75c74e;
  border-radius: 50px;
  margin: 25px 0px 0px 5px;
}
.tags:hover {
  color: rgb(240, 99, 165);
  border: 2px solid rgb(240, 99, 165);
}
.year {
  color: gray;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 90px;
  height: 90px;
  margin: 100px 0px 0px 45%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.play_list {
  position: relative;
  height: 40px;
  width: auto;
  /* background-color: red; */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {

    width: 100px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content span{
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
